<div class="container-fluid mt-3">
  <div class="row">
    <h2 class="col-4 text-center">Went well</h2>
    <h2 class="col-4 text-center">Need to be improved</h2>
    <h2 class="col-4 text-center">Action items</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card float-md-left mr-3 mt-3 shadow" *ngFor="let card of cards.good">
        <div class="card-header">
          <h5 class="card-title mb-0">{{card.title}}</h5>
        </div>
        <div class="card-body pt-0 pr-0 pb-0 pl-0">
          <div class="row">
            <div class="col-12">
              <textarea class="card-text text-muted" [(ngModel)]="card.description" rows="4" maxlength="150"></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" data-toggle="modal" (click)="openModal(card, 'good')">
            Show More
          </a>
          <label class="float-md-right mb-0 text-muted">Votes: {{card.votes}}</label>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card float-md-left mr-3 mt-3 shadow" *ngFor="let card of cards.improve">
        <div class="card-header">
          <h5 class="card-title mb-0">{{card.title}}</h5>
        </div>
        <div class="card-body pt-0 pr-0 pb-0 pl-0">
          <div class="row">
            <div class="col-12">
              <textarea class="card-text text-muted" [(ngModel)]="card.description" rows="4" maxlength="150"></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" data-toggle="modal" (click)="openModal(card, 'improve')">
            Show More
          </a>
          <label class="float-md-right mb-0 text-muted">Votes: {{card.votes}}</label>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card float-md-left mr-3 mt-3 shadow" *ngFor="let card of cards.action">
        <div class="card-header">
          <h5 class="card-title mb-0">{{card.title}}</h5>
        </div>
        <div class="card-body pt-0 pr-0 pb-0 pl-0">
          <div class="row">
            <div class="col-12">
              <textarea class="card-text text-muted" [(ngModel)]="card.description" rows="4" maxlength="150"></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" data-toggle="modal" (click)="openModal(card, 'votes')">
            Show More
          </a>
          <label class="float-md-right mb-0 text-muted">Votes: {{card.votes}}</label>
        </div>
      </div>
    </div>
  </div>
</div>